@model IEnumerable<ASDNew.Models.Payment>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
            <thead>
            <th>
                ID
            </th>
            <th>
                Billing Name
            </th>
            <th>
                Billing Address
            </th>
            <th>
                Billing Suburb
            </th>
            <th>
                Billing State
            </th>
            <th>
                Billing PostCode
            </th>
            <th>
                CreditCardNumber
            </th>
            <th>
                Expiry
            </th>
            <th>
                CVV
            </th>
            </thead>
            <tbody>
                @foreach (var payment in Model)
                {
                    <tr>
                        <td>
                            @payment.Id
                        </td>
                        <td>
                            @payment.BillingName
                        </td>
                        <td>
                            @payment.BillingAddress
                        </td>
                        <td>
                            @payment.BillingSuburb
                        </td>
                        <td>
                            @payment.BillingState
                        </td>
                        <td>
                            @payment.BillingPostCode
                        </td>
                        <td>
                            @payment.CreditCardNumber
                        </td>
                        <td>
                            @payment.CreditCardExpiry
                        </td>
                        <td>
                            @payment.CVV
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
