@model IEnumerable<ASDNew.Models.Payment>



<style>
    a:hover {
        cursor: pointer;
    }
</style>

<!DOCTYPE html>

<html>

<head>
    <title>Add Product to Restaurant</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="divider">
        <h3>Payment Success</h3>
    </div>
    <div class="divider">
        @*@foreach (var item in Model)*@
        {
            <p>Your order has been successfully paid for at (date) and will be delivered to your address at (address)</p>
            <p>Your order ID is @*@Html.DisplayFor(modelItem => item.Id)*@.</p>
            <p>Click <a onclick="location.href='@Url.Action("PaymentHistory","Payment")'">here</a> to view your payment history.</p>
        }
    </div>

    @*<div>
            <table>
                <thead>
                <th>
                    ID
                </th>
                <th>
                    Billing Name
                </th>
                <th>
                    Billing Address
                </th>
                <th>
                    Billing Suburb
                </th>
                <th>
                    Billing State
                </th>
                <th>
                    Billing PostCode
                </th>
                <th>
                    CreditCardNumber
                </th>
                <th>
                    Expiry
                </th>
                <th>
                    CVV
                </th>
                </thead>
                <tbody>
                    @foreach (var payment in Model)
                    {
                        <tr>
                            <td>
                                @payment.Id
                            </td>
                            <td>
                                @payment.BillingName
                            </td>
                            <td>
                                @payment.BillingAddress
                            </td>
                            <td>
                                @payment.BillingSuburb
                            </td>
                            <td>
                                @payment.BillingState
                            </td>
                            <td>
                                @payment.BillingPostCode
                            </td>
                            <td>
                                @payment.CreditCardNumber
                            </td>
                            <td>
                                @payment.CreditCardExpiry
                            </td>
                            <td>
                                @payment.CVV
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
</body>

</html>
