@model IEnumerable<ASDNew.Models.Order>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Payment</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>
                            @order.Id
                        </td>
                        <td>
                            @order.Customer.FirstName + @order.Customer.LastName
                        </td>
                        <td>
                            @order.Payment.BillingName
                        </td>
                        <td>
                            @order.Date.ToString()
                        </td>
                        <td>
                            @order.Status.ToString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
