@model ASDNew.Models.Restaurant

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Add Restaurant</h1>
        @using (Html.BeginForm("Create", "Restaurant", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div>
                <label for="RestaurantName">Name</label>
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                <label for="RestaurantDescription">Description</label>
                @Html.TextBoxFor(m => m.Description)
            </div>
            <div>
                <label for="RestaurantEmail">Email</label>
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div>
                <label for="Password">Password</label>
                @Html.TextBoxFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                    <button type="button" onclick="location.href='@Url.Action("Index","Restaurant")'" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>

        }
    </div>
</body>
</html>
