@model ASDNew.Models.Restaurant
@using ASDNew.Models;
@{
        Restaurant restaurant = (Restaurant)ViewData["Restaurant"];

        ViewBag.Title = "Delete Product";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Delete Restaurant</h1>
        <h2>Are you sure you want to delete this restaurant?</h2>
        <h3>Restaurant</h3>
        @using (Html.BeginForm("Delete", "Restaurant", FormMethod.Post))
        {
        <input type="hidden" name="RestaurantId" id="RestaurantId" value="@restaurant.Id">
        <table>
            <tr>
                <td>
                    Restaurant Name:
                </td>
                <td>
                    @restaurant.Name
                </td>
            </tr>
            <tr>
                <td>
                    Restaurant Description:
                </td>
                <td>
                    @restaurant.Description
                </td>
            </tr>
            <tr>
                <td>
                    Restaurant Email:
                </td>
                <td>
                    @restaurant.Email
                </td>
            </tr>
            <tr>
                <td>
                    Restaurant Password:
                </td>
                <td>
                    @restaurant.Password
                </td>
            </tr>
            <tr>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirm </button>
                <button type="submit" onclick="location.href='@Url.Action("Index")'" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Cancel</button>
            </tr>
        </table>

        }
    </div>
</body>
</html>
