@model IEnumerable<ASDNew.Models.Restaurant>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
            <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            </thead>
            <tbody>
                @foreach (var restaurant in Model)
                {
                    <tr>
                        <td>
                            @restaurant.Id
                        </td>
                        <td>
                            @Html.ActionLink(restaurant.Name ,"Index", "Product", new { RestaurantID = restaurant.Id }, null)
                        </td>
                        <td>
                            @restaurant.Description
                        </td>
                        <td>
                            @restaurant.Email
                        </td>
                        <td>
                            @restaurant.Password
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
