@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>ASDxd</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h2><span class="pageheading">Welcome to Restaurant Management System</span></h2>

    <!-- Content starts here-->

    <p>
        Welcome to your local restaurant management system<br>
    <p>


        <input type="button" value="See Restaurants Near Me" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Restaurant")'" />
        <!--
        David: <a href="productPage.html">Product Page</a><br><br>
        Abishek: <a href="">xd</a> & <a href="">xdd</a><br><br>
        Patrick E: <a href="addProduct.html">Add Product</a> | <a href="addProductVariation.html">Add Product Variation</a> | <a href="updateProduct.html">Update Product</a><br><br>
        Brendan: <a href="order.html">Order</a> & <a href="payment.html">Payment</a><br><br>
        Patrick L: <input type="button" value="List of Resturants" onclick="location.href='@Url.Action("ListOfRestaurants", "Restaurant")'" />
        <a asp-controller="Product" asp-action="ProductPage" style="color:black">Test</a>
        <input type="button" value="LetsaGo" onclick="location.href='@Url.Action("ProductPage", "Product")'" />
        <input type="button" value="Go To AddProduct" onclick="location.href = '@Url.Action("AddProduct", "Product")'" />
        <input type="button" value="Go To Restaurant Index" onclick="location.href = '@Url.Action("Index", "Restaurant")'" />
        <a href="~/Views/Product/ProductPage.cshtml">XDDDDDDDDDDD</a>
        
        <input type="button" value="Error Page" onclick="location.href = '@Url.Action("Index", "Error")'" />



        <!--etc... idk maybe just shove a link to your pages here when you make it-->
    </p>


    <!-- Content ends here-->







</body>
</html>
