

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <h3>Manage</h3>
        <input type="button" class="btn btn-default" value="Manage Product Categories" onclick="location.href='@Url.Action("Index", "ProductCategory")'" />
    </div>
    <div class="container">
        <h3>Add</h3>
        <input type="button" class="btn btn-default" value="Add ProductCategories" onclick="location.href='@Url.Action("AddProductCategories", "Admin")'" />
        <input type="button" class="btn btn-default" value="Add Restaurants" onclick="location.href='@Url.Action("AddRestaurants", "Restaurant")'" />
        <input type="button" class="btn btn-default" value="Add Products" onclick="location.href='@Url.Action("AddProducts", "Admin")'" />
    </div>
    <div class="container">
        <h3>Remove</h3>
        <input type="button" class="btn btn-danger" value="Remove Products" onclick="location.href='@Url.Action("RemoveProducts", "Admin")'" />
        <input type="button" class="btn btn-danger" value="Remove ProductCategories" onclick="location.href='@Url.Action("RemoveProductCategories", "Admin")'" />
        <input type="button" class="btn btn-danger" value="Remove Restaurants" onclick="location.href='@Url.Action("RemoveRestaurants", "Restaurant")'" />
    </div>
</body>
</html>
