@model ASDNew.Models.Product
@using ASDNew.Models;
@{
    Restaurant restaurant = (Restaurant)ViewData["Restaurant"];
    List<ProductCategory> categories = (List<ProductCategory>)ViewData["AllCategories"];
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Product</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Edit Product: @Model.Name</h1>
        <div class="well well-sm col-sm-12">
            @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <input type="hidden" name="ProductId" id="ProductId" value="@Model.Id">
                <input type="hidden" name="RestaurantId" id="RestaurantId" value="@restaurant.Id">

                <div class="form-group">
                    <label for="ProductName" class="control-label col-sm-2">Product Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ProductName" id="ProductName" required value="@Model.Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="ProductCategory" class="control-label col-sm-2">Category</label>
                    <div class="col-sm-10">
                        <select id="ProductCategory" name="ProductCategory" class="form-control">
                            @foreach (var category in categories)
                            {
                                if (category.Id == Model.Category.Id)
                                {
                                    <option name="@category.Name" value="@category.Id" selected>@category.Name</option>
                                }
                                else
                                {
                                    <option name="@category.Name" value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ProductPrice" class="control-label col-sm-2">Price $</label>
                    <div class="col-sm-10">
                        <input type="number" name="ProductPrice" id="ProductPrice" min="0" step="0.01" required class="form-control" value="@Model.Price">
                    </div>
                </div>

                <div class="form-group">
                    <label for="ProductDescription" class="control-label col-sm-2">Description (Optional)</label>
                    <div class="col-sm-10">
                        <textarea name="ProductDescription" id="ProductDescription" rows="4" class="form-control">@Model.Description</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
                        <button type="button" onclick="location.href='@Url.Action("Index", "Product", new {RestaurantID = restaurant.Id }, null)'" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
