@model IEnumerable<ASDNew.Models.Product>
@using ASDNew.Models;
@{ 
    Restaurant Restaurant = (Restaurant) ViewData["Restaurant"];
    List<ProductCategory> Categories = (List<ProductCategory>)ViewData["Categories"];
    List<Product> Cart = new List<Product>();
}

<style>
    h1 {
        font-family: Verdana, Geneva, sans-serif;
        position: fixed;
        top: 0px;
    }

    h2 {
        font-family: Verdana, Geneva, sans-serif;
        margin-left: 20px;
    }

    h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 10px;
    }

    body {
        font-family: Verdana, Geneva, sans-serif;
        background-image: url(/Images/SkyBlue4.jpg);
    }

    p {
        font-family: Verdana, Geneva, sans-serif;
        margin-left: 20px;
        margin-right: 20px;
    }

    span.whitestrip {
        position: fixed;
        top: 0;
        margin-top: 0px;
    }

    span.pageheading {
        color: #c68c53;
        font-size: 30px;
    }

    ul.Navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        width: 100%;
        top: 75px;
        left: 0;
    }

    li {
        float: left;
    }

        li a {
            display: black;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family: Verdana, Geneva, sans-serif;
        }

            li a:hover {
                background-color: #111;
            }

        li.Active {
            background-color: #c68c53;
        }

            li.Active a:hover {
                background-color: #c68c53;
            }

    footer {
        font-family: Verdana, Geneva, sans-serif;
        background-color: #333;
        margin: 0;
        padding: 5px 0px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    li.ActFoot a {
        Color: #c68c53;
    }

    ul.foot {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    footer a {
        text-decoration: none;
        padding: 0px 15px;
        color: white;
    }

        footer a:hover {
            background-color: #333;
            color: #c68c53;
        }

    li.dontH a:hover {
        color: white;
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 90%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        /*padding: 0 18px;*/
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        /*background-color: #f1f1f1;*/
    }

    .option {
        background-color: whitesmoke;
        color: black;
        cursor: grab;
        padding: 10px;
        width: 90%;
        border: none;
        text-align: center;
        outline: solid;
        outline-width: 1px;
        outline-color: lightgray;
        font-size: 15px;
    }

    .description {
        background-color: whitesmoke;
        color: black;
        align-items: center;
        padding: 10px;
        width: 90%;
        border: none;
        text-align: center;
        outline: solid;
        outline-width: 1px;
        outline-color: lightgray;
        font-size 15px;
        cursor: text;
    }


    .cart {
        background-color: dodgerblue;
        color: white;
        cursor: grab;
        padding: 10px;
        width: 90%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        font-weight: bold;
    }

    .add {
        background-color: darkslategrey;
        color: white;
        cursor: grab;
        padding: 10px;
        width: 90%;
        border: none;
        text-align: center;
        outline: none;
        font-size 15px;
        font-weight: bold;
    }

    .column {
        float: left;
    }

    .left {
        width:50%;
    }

    .right {
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }



    .CartContainer {
        width: 100%;
        height: 90%;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0px 10px 20px #1687d933;
        float:right;
    }

    .Header {
        margin: auto;
        width: 90%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Heading {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 700;
        color: #2F3841;
    }

    .Action {
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 600;
        color: #E44C4C;
        cursor: pointer;
        border-bottom: 1px solid #E44C4C;
    }

    .Cart-Items {
        margin: auto;
        width: 90%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .image-box {
        width: 15%;
        text-align: center;
    }

    .about {
        height: 100%;
        width: 24%;
    }

    .title {
        padding-top: 10px;
        line-height: 10px;
        font-size: 32px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 800;
        color: #202020;
    }

    .subtitle {
        line-height: 10px;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 600;
        color: #909090;
    }

    .counter {
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 900;
        color: #202020;
        cursor: pointer;
    }

    .count {
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 600;
        color: #202020;
    }

    .prices {
        height: 100%;
        text-align: right;
    }

    .amount {
        padding-top: 20px;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 800;
        color: #202020;
    }

    .save {
        padding-top: 5px;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        font-weight: 600;
        color: #1687d9;
        cursor: pointer;
    }

    .remove {
        padding-top: 5px;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 600;
        color: #E44C4C;
        cursor: pointer;
    }

    .pad {
        margin-top: 5px;
    }

    hr {
        width: 66%;
        float: right;
        margin-right: 5%;
    }

    .checkout {
        float: right;
        margin-right: 5%;
        width: 28%;
    }

    .total {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Subtotal {
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 700;
        color: #202020;
    }

    .items {
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 500;
        color: #909090;
        line-height: 10px;
    }

    .total-amount {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 900;
        color: #202020;
    }

    .button {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        border: none;
        background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif font-weight: 600;
        color: #202020;
    }



</style>


<!DOCTYPE html>

<html>
<head>
    <title>ASDxd</title>
    <meta charset="UTF-8">
    <!--<link href="@Url.Content("~/Views/Shared/style.css")" rel="stylesheet" type="text/css" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h2>@Restaurant.Name</h2>
    <img src="~/Images/RestaurantBanners/test.png" alt="Banner" />
    <p style="padding: 10px">
        @Restaurant.Description
    </p>
    <input type="button" class="add" value="Add a New Product" onclick="location.href = '@Url.Action("AddProduct", "Product", new { RestaurantId = Restaurant.Id })'"/>

    <div class="row">
        <div class="column left">

            @foreach (var Category in Categories)
            {
                <h3>@Category.Name.ToUpper()</h3>
                foreach (var Product in @Model)
                {
                    if (Product.Category == Category)
                    {
                        <button class="collapsible">@Product.Name</button>
                        <div class="content">
                            <button class="description">@Product.Description</button><br>

                            <button class="cart" onclick='location.href = "@Url.Action("AddToCart", "Product", new { ProductId = Product.Id, RestaurantId = Restaurant.Id })"'>Add To Cart ($@Product.Price)</button>
                            <button class="option" onclick='location.href="@Url.Action("EditProduct", "Product", new {ProductId = Product.Id, RestaurantId = Restaurant.Id })"'>Edit Product</button>
                            <button class="option" onclick='location.href="@Url.Action("DeleteProduct", "Product", new {ProductId = Product.Id, RestaurantId = Restaurant.Id })"'>Delete Product</button>
                        </div>
                    }
                }
            }

        </div>
        <div class="column right">
            <div class="CartContainer">
                <div class="Header">
                    <h3 class="Heading">Shopping Cart</h3>
                    <h5 class="Action" onclick='location.href="@Url.Action("RemoveAllFromCart", "Product", new { RestaurantId = Restaurant.Id} )"'>Remove all</h5>
                </div>

                @if (Session["Cart"] != null)
                {
                    foreach (Product Product in (List<Product>)Session["Cart"])
                    {
                        <div class="Cart-Items">
                            <div class="image-box">

                            </div>
                            <div class="about">
                                <b>@Product.Name</b>
                                <p>@Product.Description</p>
                            </div>
                            <div>

                            </div>
                            <div class="prices">
                                <div class="amount">$@Product.Price</div>
                                <div class="remove">
                                    <p onclick='location.href="@Url.Action("RemoveFromCart", "Product", new {ProductId = Product.Id, RestaurantId = Restaurant.Id })"'>Remove</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                <hr>
                <div class="checkout">
                    <div class="total">
                        <div>
                            <div class="">Sub-Total</div>
                            <div class="items"></div>
                        </div>
                        <div class="">$@HttpContext.Current.Session["TotalAmount"]</div>
                    </div>
                    <input type="button" value="Go To Payment" onclick="location.href = '@Url.Action("PaymentPage", "Payment")'" />
                </div>
            </div>
        </div>
    </div>
    <script>
        //i have absolutely no idea what this is doing
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }


    </script>

</body>
</html>

